@import "tailwindcss";

@theme {
  --color-primary: #ff4d00;
  --color-background-light: #f8f6f5;
  --color-background-dark: #050505;
  --color-surface-dark: #121212;

  --font-display: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Custom border radius sizes */
  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@layer base {

  /* Custom scrollbar for a cleaner look */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {

  /* Grid background pattern */
  .grid-pattern {
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  }
}